@{ Layout = null; }


<div style="text-align: center">
    <h2> Hotel Posada Colonial</h2>
</div>
<br />
<div style="float: right">
        <p><h3>Boleta de Pago</h3></p>
        <p>No. Boleta de Pago: 001 </p>
        <p>No. Cuenta a Depositar: xxx-xxx-xxx </p>
        <p>Fecha: @DateTime.Now.ToShortDateString()</p>
</div>

<div style="float: left">
    <p>Direccion: Petet Chixic 5to. Acceso 12-15 Zona 5</p>
    <p>Cobán, Alta Verapaz Guatemala</p>
    <p>Tel: 56971717</p>
    <p>Correo Electronico: colonialhotelposada@gmail.com</p>
</div>


<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
