<html>
<head>

</head>
<body>
    <h2><u>Modificar contrasena</u></h2>

    <div style="text-align: center">
        <br />
        <h3>Modoficar contrasena</h3>
    </div>
    <br />
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Usuario</label>
            <div class="col-sm-5">
                <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario" required />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">contrasena actual</label>
            <div class="col-sm-5">
                <input type="text" name="contraa" class="form-control" id="contraa" placeholder="Contrasena actual" required />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">contrasena nueva</label>
            <div class="col-sm-5">
                <input type="text" name="contran" class="form-control" id="contran" placeholder="Contrasena nueva" required />
            </div>
        </div>
        <br />
        <br />
        <div style="text-align: center">
            <button type="submit" class="btn btn-warning">Actualizar</button>
        </div>
    </form>
</body>
</html>