<html>
<head>
    <title>Contacto</title>
    <link rel="stylesheet" href="~/css/StyleContacto.css">
</head>
<body>
    <header class="showcase">
        <div class="news-cards">
            <div  align="center">
                <img src="~/imagenes/icono_telefono.png" alt=""/>
                <h2>Telefono</h2>
                <p>
                    +502 5697-1717
                </p>
                <a href="tel: +50256971717">llamar<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div  align="center">
                <img src="~/imagenes/e-mail_telefono.png" alt="" />
                <h2>email</h2>
                <p>
                    colonialhotelposada@gmail.com
                </p>
                <a href="mailto:colonialhotelposada@gmail.com?Subject=Me%20encuentro%20interesado%20en%20realizar%20una%20reservación">Contactar<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div  align="center">
                <img src="~/imagenes/icono_Whatsapp.png" alt="" />
                <h2>Whatsapp</h2>
                <p>
                    +502 5697-1717
                </p>
                <a href="https://wa.me/+50256971717?text=Hola%20necesito%20información%20sobre%20un%20cuarto">Contactar<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div  align="center">
                <img src="~/imagenes/icono_ubicacion.png" alt="" />
                <h2>Ubicacion</h2>
                <p>
                    5to acceso 12-15 zona 5 Coban AV.
                </p>
                <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x858a46ecd3db8413:0xb519546e2506f73b?utm_source=mstt_1&entry=gps&lucs=swa">Ir a<i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </header>
</body>
</html>
