<html>
<head>
    <title>Contacto</title>
    <link rel="stylesheet" href="~/css/StyleContacto.css">
</head>
<body>
	<br /><br /><br /><br /><br />
	<div class="container position-absolute top-50 start-50 translate-middle-y">
		<div class="row ">
			<div class="col">
				<div align="center">
					<img src="~/imagenes/contacto/icono_telefono.png" width="100" height="100" alt="" />
					<h2>Telefono</h2>
					<p>
						+502 5697-1717
					</p>
					<a href="tel: +50256971717">LLAMAR<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div align="center">
					<img src="~/imagenes/contacto/e-mail_telefono.png" width="100" height="100" alt="" />
					<h2>email</h2>
					<p>
						colonialhotelposada@gmail.com
					</p>
					<a href="mailto:colonialhotelposada@gmail.com?Subject=Me%20encuentro%20interesado%20en%20realizar%20una%20reservación">ENVIAR CORREO<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div align="center">
					<img src="~/imagenes/contacto/icono_Whatsapp.png" width="100" height="100" alt="" />
					<h2>Whatsapp</h2>
					<p>
						+502 5697-1717
					</p>
					<a href="https://wa.me/+50256971717?text=Hola%20necesito%20información%20sobre%20un%20cuarto">CONTACTAR<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div align="center">
					<img src="~/imagenes/contacto/icono_ubicacion.png" width="100" height="100" alt="" />
					<h2>Ubicacion</h2>
					<p>
						5to acceso 12-15 zona 5 Coban AV.
					</p>
					<a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x858a46ecd3db8413:0xb519546e2506f73b?utm_source=mstt_1&entry=gps&lucs=swa">IR A<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
