<html>
<head>
    <title>Contacto</title>
    <link rel="stylesheet" href="~/css/StyleContacto.css">
</head>
<body>
    <header class="showcase">
        <div class="news-cards">
            <div>
                <img src="~/imagenes/icono_telefono.png" alt=""/>
                <h2>Telefono</h2>
                <p>
                    +502 12345678
                </p>
                <a href="tel: +50212345678">Contactar por llamada<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="~/imagenes/e-mail_telefono.png" alt="" />
                <h2>email</h2>
                <p>
                    hotel@gmail.com
                </p>
                <a href="mailto:email@gmail.com?Subject=Me%20encuentro%20interesado%20en%20realizar%20una%20reservación">Enviar un correo<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="~/imagenes/icono_Whatsapp.png" alt="" />
                <h2>Whatsapp</h2>
                <p>
                    +502 12345678
                </p>
                <a href="https://wa.me/12345678?text=Hola%20necesito%informacion%sobre%un%cuarto">Enviar un mensage<i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="~/imagenes/icono_ubicacion.png" alt="" />
                <h2>Ubicacion</h2>
                <p>
                    zona1 lugar tal cualquier casa
                </p>
                <a href="#">Ir al hotel posada colonial<i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
    </header>
</body>
</html>
