<html>
<head>
	<meta charset="utf-8">
	<title>Lugares Contacto</title>
	<link rel="stylesheet" href="~/css/StyleLugaresTuristicos.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

	<link rel="stylesheet" href="~/css/StyleContacto.css">
</head>
<body>
	<br /><br /><br /><br /><br />
	<div class="container position-absolute">
		<div class="row ">
			<div class="col">
				<div align="center">
					<img src="~/imagenes/contacto/icono_telefono.png" width="100" height="100" alt="" />
					<h2>Telefono</h2>
					<p>
						+502 5697-1717
					</p>
					<a href="tel: +50256971717">LLAMAR<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div align="center">
					<img src="~/imagenes/contacto/e-mail_telefono.png" width="100" height="100" alt="" />
					<h2>email</h2>
					<p>
						colonialhotelposada@gmail.com
					</p>
					<a href="mailto:colonialhotelposada@gmail.com?Subject=Me%20encuentro%20interesado%20en%20realizar%20una%20reservación">ENVIAR CORREO<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div align="center">
					<img src="~/imagenes/contacto/icono_Whatsapp.png" width="100" height="100" alt="" />
					<h2>Whatsapp</h2>
					<p>
						+502 5697-1717
					</p>
					<a href="https://wa.me/+50256971717?text=Hola%20necesito%20información%20sobre%20un%20cuarto">CONTACTAR<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
			<div class="col">
				<div align="center">
					<img src="~/imagenes/contacto/icono_ubicacion.png" width="100" height="100" alt="" />
					<h2>Ubicacion</h2>
					<p>
						5to acceso 12-15 zona 5 Coban AV.
					</p>
					<a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x858a46ecd3db8413:0xb519546e2506f73b?utm_source=mstt_1&entry=gps&lucs=swa">IR A<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>
