<html>
<head>

</head>
<body>
    <button type="submit" class="btn btn-warning" href=""><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="crear_usuario">Crear_usuario</a></button>
</body>
</html>