<html>
<head>

</head>
<body>
    <h2><u>Reserva</u></h2>

    <div style="text-align: center">
        <br />
        <h3>Datos de la Reserva</h3>
    </div>


    <br />
    <form class="form-horizontal">

        <div class="form-group">
            <label for="Nombres" class="col-sm-5 control-label">Nombres</label>
            <div class="col-sm-5">
                <input type="text" name="Nombres" class="form-control" id="Nombres" placeholder="Nombres" />
            </div>
        </div>
        <div class="form-group">
            <label for="Apellidos" class="col-sm-5 control-label">Apellidos</label>
            <div class="col-sm-5">
                <input type="text" name="Apellidos" class="form-control" id="Apellidos" placeholder="Apellidos" />
            </div>
        </div>
        <div class="form-group">
            <label for="Correo Electronico" class="col-sm-5 control-label">Correo Electronico</label>
            <div class="col-sm-5">
                <input type="text" name="Correo Electronico" class="form-control" id="Correo Electronico" placeholder="Correo Electronico" />
            </div>
        </div>
        <div class="form-group">
            <label for="Telefono" class="col-sm-5 control-label">Telefono</label>
            <div class="col-sm-5">
                <input type="text" name="Telefono" class="form-control" id="Telefono" placeholder="Telefono" />
            </div>
        </div>
        <div style="text-align: right">
            <br />
            <h5>Total de la Reserva:</h5>
        </div>

        <div style="text-align: right">
            <br />
            <input type="text" name="tipo_de_dato" />
        </div>
        <br />
        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Reservar</button>
        </div>

    </form>
</body>
</html>
