<html>
<head>
    <title>DATOS DE LA RESERVA</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href ="~/css/Stylereservas.css" />
</head>
<body>
    <h2>
        Datos de la Reserva
    </h2>
        <input type="text" size="15" maxlength="30" value="Nombres" onfocus="if (this.value == 'Nombres') this.value='' " name="text_box_nombre" class="text_box_nombre">
        <input type="text" size="15" maxlength="30" value="Apellidos" onfocus="if (this.value == 'Apellidos') this.value='' " name="txt_box_apellido" class="text_box_apellido"> 

</body>

</html>
