<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hotel Posada Colonial</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
			<a class="navbar-brand position-static" asp-area="" asp-controller="Home" asp-action="Index">
				<img src="~/imagenes/logo/logoBLANCO.png" alt="Logo" class="logo" width="175" height="100">
			</a>
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="Index">INICIO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="habitaciones">HABITACIONES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="entorno">ENTORNO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="lugaresTuristicos">LUGARES TURISTICOS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="contacto">CONTACTO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link btn btn-outline-dark" asp-area="" asp-controller="Home" asp-action="reservas">RESERVA</a>
						</li>
					</ul>
				</div>
			</div>
			<a class="navbar-brand border-0" asp-area="" asp-controller="Home" asp-action="login"><img src="~/imagenes/login/adminpngBlando.png" alt="Logo" class="login" width="30" height="30"></a>
		</nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-dark text-white">
        <div class="container">
            &copy; 2021 - CREATED BY DEJ-VMD. NAP-C
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
